@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: rgba(247, 250, 252);
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  padding: 80px 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  background-color: rgba(100, 21, 255);
  color: rgba(247, 250, 252);
  border-radius: 9999px;
  padding: 12px 32px;
  transition: all 300ms ease;
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
  display: inline-block;
}
.btn:hover {
  background-color: rgba(80, 17, 204);
  color: rgba(237, 242, 247);
}
.purple {
  color: rgba(100, 21, 255);
}
h5 {
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 700;
  color: rgba(100, 21, 255);
  font-size: inherit;
  margin-bottom: 16px;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.4px;
  font-weight: 900;
  color: rgba(36, 62, 99);
}
/* NAVBAR */
#landing {
  padding: 32px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 250, 252);
}
.nav__logo {
  color: rgba(36, 62, 99);
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  transition: all 300ms ease;
}
.nav__logo:hover {
  color: rgba(100, 21, 255);
}
.nav__img {
  width: 48px;
  height: auto;
  padding-right: 8px;
}
.nav__links {
  display: flex;
  font-weight: 600;
}
.nav__link {
  font-weight: 600;
  color: rgba(36, 62, 99);
  font-size: 14px;
  margin-right: 48px;
  padding-bottom: 8px;
  letter-spacing: 0.4px;
  transition-duration: 300ms;
}
.nav__link:hover {
  color: rgba(100, 21, 255);
  border-bottom: 1px solid;
  border-color: rgba(100, 21, 255, var);
}
.nav__5th {
  margin-left: 48px;
}

.nav__last {
  background-color: rgba(100, 21, 255);
  color: rgba(247, 250, 252);
  border-radius: 9999px;
  padding: 12px 32px;
  transition: all 300ms ease;
  font-weight: 600;
}
.nav__last:hover {
  background-color: rgba(80, 17, 204);
  color: rgba(237, 242, 247);
}
.nav__button {
  cursor: pointer;
  border: 0 solid #e5e7eb;
  overflow: hidden;
  color: rgba(36, 62, 99);
  background-color: rgba(247, 250, 252);
  transition-duration: 300ms;
}
.nav__button:hover {
  color: rgba(100, 21, 255);
}

/* LANDING */

.landing__wrapper {
  padding: 96px 0 0 0;
  display: flex;
  align-items: center;
}
.landing__h {
  font-size: 48px;
}
.landing__left {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.landing__right {
  width: 60%;
}
.landing__img {
  width: 100%;
}
.landing__para {
  margin: 32px 0;
  font-size: 20px;
}
.landing__left--1 {
  max-width: 448px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing__input {
  border: 2px solid #e5e7eb;
  font-weight: 500;
  border-radius: 9999px;
  width: 100%;
  padding: 20px 192px 20px 32px;
  color: #e5e7eb;
  font-size: 100%;
  cursor: text;

  transition: all 300ms ease;
}
.landing__input:hover {
  border-color: rgba(160, 174, 192);
}
.landing__btn {
  position: absolute;
  font-size: 100%;
  padding: 16px 0 16px 0;
  width: 160px;
  border-radius: 9999px;
  margin: 8px 8px 8px 0;
  color: rgba(247, 250, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 21, 255);
  border: none;
  right: 0px;
  cursor: pointer;
  font-weight: 700;
  transition: all 300ms ease;
}
.landing__btn:hover {
  background-color: rgba(80, 17, 204);
  color: rgba(237, 242, 247);
}
.landing__customers {
  margin-top: 80px;
}
.landing__customers--img {
  opacity: 0.5;
  width: 100%;
  margin-top: 16px;
  padding-right: 64px;
}
.landing__customers--para {
  font-size: 12px;
  letter-spacing: 0.8px;
  font-weight: 700;
  color: rgba(160, 174, 192);
}
.landing__ball {
  pointer-events: none;
  opacity: 0.05;
  position: absolute;
  left: -150px;
  bottom: 0px;
  height: 16rem;
  width: 16rem;
}

/* FEATURES */

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__para {
  margin-top: 16px;
  text-align: center;
  max-width: 576px;
  font-weight: 500;
  line-height: 1.625;
  color: rgba(124, 139, 161);
  font-size: 18px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 896px;
  margin: 0 auto;
}
.service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 8px;
}
.img__container {
  border: 1px solid rgb(229, 231, 235);
  text-align: center;
  border-radius: 9999px;
  padding: 20px;
  max-height: 66px;
}

.service__title {
  letter-spacing: 0.4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: rgba(36, 62, 99);
}
.service__description {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}
.features__service--para {
  font-weight: 500;
  line-height: 2;
  color: rgba(124, 139, 161);
  margin-top: 16px;
  font-size: 16px;
}

/* WORK */

#quality h2 {
  text-align: left;
}
.work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work__container {
  display: flex;
  justify-content: space-between;
}
.work__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 64px;
  padding: 32px 0;
}
.work__right {
  max-width: 50%;
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.work__para {
  color: rgba(124, 139, 161);
  line-height: 1.625;
  font-weight: 500;
  margin-top: 16px;
  font-size: 18px;
}

.work__img {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  width: 100%;
}

/* STEPS */
#steps h2 {
  text-align: left;
}
#steps .work__wrapper {
  align-items: center;
}
.steps__img {
  max-width: 100%;
  height: auto;
}
.steps {
  text-align: left;
  align-items: center;
}

.step__number {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  color: rgba(203, 213, 224);
}
.step__title {
  line-height: 1;
  font-size: 20px;
  font-weight: 600;
  color: rgba(36, 62, 99);
}
.step__para {
  margin-top: 12px;
  max-width: 320px;
  line-height: 2;
  font-size: 14px;
  color: rgba(113, 128, 150);
  font-weight: 500;
}
.step {
  display: flex;
  margin-top: 32px;
}
.step__left--container {
  width: 50%;
  flex-shrink: 0;
  position: relative;
}
.step__right--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-left: 64px;
}
.step__right {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

/* VALUES */
#values h2 {
  text-align: left;
}

#values .work__wrapper {
  align-items: center;
}
.values__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.values__right {
  width: 50%;
}
.values__img {
  max-width: 100%;
  height: auto;
}
.values__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(36, 62, 99);
}
.values__wrapper {
  display: flex;
}
.values__para {
  margin-top: 16px;
  color: rgba(113, 128, 150);
  line-height: 1.625;
}
.values__para--wrapper {
  margin-top: 32px;
}
.values__para--wrapper:first-child {
  margin-right: 32px;
}
/* PLANS */
.plans__wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans__para {
  margin-top: 16px;
  color: rgba(113, 128, 150);
  line-height: 1.625;
  font-size: 20px;
  max-width: 576px;
  text-align: center;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;
}
.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px 32px 0 32px;
  margin: 64px 32px 0 0;
  max-width: 366px;
  position: relative;
}
.plan__1,
.plan__3 {
  padding-top: 8px;
}
.plan__2 {
  color: rgba(247, 250, 252);
  background-color: rgba(100, 21, 255);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.name {
  font-weight: 700;
  font-size: 20px;
}
.price {
  font-weight: 700;
  margin: 4px 0;
  font-size: 48px;
}
.duration {
  color: rgba(160, 174, 192);
  font-weight: 700;
  letter-spacing: 0.1em;
}
.plan__top {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  line-height: 1.625;
}
.plan__mid {
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  margin: 0 -32px;
  padding: 32px;
}
.plan__bot {
  padding: 32px 16px;
}
.span__features--title {
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 20px;
}
.span__feature {
  margin-top: 20px;
  color: rgba(113, 128, 150);
  font-weight: 500;
}
.feature__button {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 16px 0;
  width: 100%;
  font-size: 14px;
  border-radius: 9999px;
  font-weight: 700;
  color: rgba(247, 250, 252);
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
}
.feature__button--1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.feature__button--2 {
  background-color: rgba(247, 250, 252);
  color: rgba(100, 21, 255);
}
.feature__button--3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.plan__2 .duration {
  color: rgba(247, 250, 252);
}
.plan__2 .span__feature {
  color: rgba(247, 250, 252);
}
.plan__2 .span__features--title {
  color: rgba(247, 250, 252);
}
.plan__2 body {
  background-color: rgba(100, 21, 255);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}
.plan__highlight {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
}
.highlight__1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.highlight__2 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* FOOTER */
footer {
  background-color: rgba(100, 21, 255);
  position: relative;
}
.footer__link--title {
  text-transform: uppercase;
  font-weight: 700;
}
.footer__link--list {
  margin-top: 24px;
}
.footer__link--item {
  margin-top: 12px;
}
.footer__link--a {
  padding-bottom: 4px;
  color: rgba(247, 250, 252);
  border-bottom: 2px solid transparent;
  transition-duration: 300ms;
}
.footer__link--a:hover {
  border-color: rgba(247, 250, 252);
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  color: rgba(247, 250, 252);
  text-align: center;
  justify-content: space-between;
}
.link {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: left;
  margin-top: 48px;
}
.footer__border {
  margin: 64px 0;
  border-bottom: 2px solid rgba(116, 44, 255);
}
.footer__inc {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 900;
  color: rgba(247, 250, 252);
  letter-spacing: 0.05em;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__img {
  width: 32px;
}
.footer__copy {
  font-size: 16px;
  font-weight: 500;
  color: rgba(203, 213, 224);
}
.footer__media--solo {
  color: rgba(247, 250, 252);
}

@media (max-width: 1024px) {
  #features {
    padding: 0 32px;
  }
  #quality {
    padding: 0 32px;
  }
  #steps {
    padding: 0 32px;
  }
  #values {
    padding: 0 32px;
  }
  #plans {
    padding: 0 32px;
  }
  .plans {
    flex-wrap: nowrap;
  }
  footer {
    padding: 0 32px;
  }
  .landing__h {
    font-size: 36px;
  }
  .landing__para {
    font-size: 16px;
  }
  .nav__links {
    display: none;
  }
}
@media (max-width: 768px) {
  .landing__wrapper {
    flex-direction: column;
  }
  .service {
    width: 50%;
  }
  .nav__links {
    display: none;
    margin: auto;
  }
  .landing__h {
    font-size: 30px;
  }
  .landing__left {
    max-width: 512px;
    width: 100%;
  }
  .landing__customers--para {
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  .plans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .plan {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .landing__h {
    text-align: center;
  }
  #quality .work__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .service {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .service__description {
    align-items: center;
    text-align: center;
  }
  .work__left {
    align-items: center;
    text-align: center;
    margin: 0;
  }
  #quality h2 {
    text-align: center;
  }
  .work__right,
  .work__left {
    max-width: 100%;
  }
  #steps .work__wrapper {
    flex-direction: column;
  }
  .step__left--container {
    width: 100%;
  }
  .step__right--container {
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .step {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .step__title {
    text-align: center;
  }
  #steps h2 {
    text-align: center;
  }
  .step__right {
    margin: 12px 0 0 0;
  }
  #values .work__wrapper {
    flex-direction: column-reverse;
  }
  .values__right,
  .values__left {
    width: 100%;
  }
  #values h2 {
    font-size: 32px;
  }
  #values .work__para {
    font-size: 14px;
  }
  #values h2 {
    text-align: center;
  }
  .values__left {
    align-items: center;
    text-align: center;
    margin-top: 64px;
  }
  .values__wrapper {
    flex-direction: column;
    max-width: 320px;
  }
  .footer__links {
    text-align: center;
    justify-content: center;
  }
  .link {
    text-align: center;
    width: 25%;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__copy {
    margin: 32px 0;
  }
}
